body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    background: linear-gradient(to bottom, #302331, #333);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

#sections{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    border: 1px red;
    border-radius: 10px;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);

}

.Holderform{
    width: 50%;
}


.card { 
    flex: auto;
    justify-self: center;
    align-self: center;
    position: relative;
    width: fit-content;
    color: #fff;
    text-align: center;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(2px);

    
}

.card input{
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    border-radius: 20px;
    max-width: 100px;
    text-align: center;
}


h1 {
    margin-top: 50px;
    font-size: 3em;
    text-shadow: 2px 2px 4px #000;
    text-align: center;
}


#GradeOutput {
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
}

input[type='number']::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    display: none;
}


#InputName,#InputPercentage,#InputBias {
    transition: transform 0.2s ease-in-out;
    border-radius: 7px;

}

#InputName:hover,#InputPercentage:hover,#InputBias:hover {
    transform: scale(1.1);
}
#InputName:focus,#InputPercentage:focus,#InputBias:focus {
    transform: scale(1.2);
}

#ErrorMessage{
    color: red;
}


#Inputs{
    padding: 30px 10px;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: rgba(59, 6, 59, .2);
    transform-origin: center;
    cursor: pointer;
}

.shadow{
    color: black;
    width: 200%;
    height: 20%;
}

#AddButton {
  background: #37378f;
  border-radius: 10px;
  box-shadow: #5E5DF0 0 0px 10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  width: fit-content;
  border: 10px;
  animation: H-circular-border .5s linear;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

#AddButton:hover{
    animation: circular-border .5s ease-out;
    animation-fill-mode: forwards;
    transform: scale(1.1);
}

@keyframes circular-border { 
    0% { border-radius: 10px; padding: 8px 18px;} 
    100% { border-radius: 1px; padding: 10px 9px;} 
}
@keyframes H-circular-border { 
    100% { border-radius: 10px; padding: 8px 18px;} 
    0% { border-radius: 1px; padding: 10px 9px;} 
}


#EditButton {
    background: #418f37;
    box-shadow: #5df069 0 0px 10px;
    border-radius: 10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    width: fit-content;
    border: 10px;
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
    margin-left: 10px;
}
#EditButton:hover{
    transform: scale(1.05);
    animation: ShiverAnim 1s infinite;
}
@keyframes ShiverAnim { 
    0% {
        transform: translateX(2px);
    }
    50% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(2px);
    }
}

#EditButton.FullActive{
    background: #8f3737;
    box-shadow: #f05d5d 0 0px 10px;
    animation: WiggleAnim .3s infinite;
}
@keyframes WiggleAnim { 
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(15deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#EditingItem{
    top: 0px;
    right: 0px;
    animation: WiggleAnim2 .4s infinite;
}

@keyframes WiggleAnim2 { 
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(3deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.DeleatButton{
    width: 30px;
    height: 30px;
    background-image: url("Images/Closed.png");
    background-color: red;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    border-radius: 10px;
    border-color: transparent;
    position: absolute;
    top: 0px;
    right: 0px;
}
.DeleatButton:hover{
    background-image: url("Images/Open.png");
}

.fade-out{
    flex: auto;
    justify-self: center;
    align-self: center;
    position: relative;
    width: fit-content;
    color: #fff;
    text-align: center;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(2px);

    top: 0px;
    right: 0px;
    transition: transform 0.5s ease-in-out;
    animation: FadeOut 0.5s;
}
.fade-out input{
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    border-radius: 20px;
    max-width: 100px;
    text-align: center;
}
@keyframes FadeOut { 
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.1);
    }
    100% {
        transform: scale(0);
    }
}