* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  background-repeat: no-repeat;
  text-align: center;
  justify-content: center;
  background-color: #2c272c;
  color: whitesmoke;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {
  background-color: #3e8e41
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button:disabled {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#messages {
  border: 1px solid black;
  border-radius: 10px;
  min-height: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: gray;
  margin-top: 20px;
  padding: 20px;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

#messages li {
  margin-bottom: 20px;
  max-width: 60%;
  font-size: 16px;
}

#messages li.User {
  background-color: #007AFF;
  color: white;
  align-self: flex-end;
  padding: 10px 15px;
  border-radius: 20px 20px 0 20px;
  position: relative;
}

#messages li.User .SenderText {
  position: absolute;
  left: 50%;
  top: -20px;
  background-color: transparent;
}

#messages li.AI {
  background-color: #D0D0D0;
  color: black;
  align-self: flex-start;
  padding: 10px 15px;
  border-radius: 20px 20px 20px 0;
  position: relative;
}

#messages li.AI .SenderText {
  position: absolute;
  right: 50%;
  top: -20px;
  background-color: transparent;
}

.ErrorMessage {
  color: red;
  background-color: transparent;
  margin: 20px auto;
  max-width: 70%;
  text-align: center;
}

#ApiKeyInput {
  margin: 0px 0px 20px 0px;
  color: whitesmoke;
  width: 30%;
}
