body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  canvas {
    display: block;
    background-color: #f0f0f0;
}
*, body, canvas {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
